* {
   margin: 0;
   padding: 0;
   font-family: "AR One Sans", sans-serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
#header {
   background-image: url(images/background\(2\).jpg);
   height: 100vh;
   /* height: 100%; */
   width: 100%;
   background-position: top 25% right 0;
   background-attachment: fixed;
   background-size: cover;
   padding: 0px 50px;
}
#logo {
   padding: 0px 10px;
   width: 20px;
   height: 20px;
   transform: translateY(-5px);
}
.navbar {
   display: flex;
   justify-content: end;
   padding: 19px 0px;
}
.navbar ul {
   display: flex;
   padding: 20px 10px;
}
.navbar ul li {
   list-style: none;
   padding: 20px;
}
.navbar ul li a {
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
   color: #641e16;
   position: relative;
   font-family: "AR One Sans", sans-serif;
}
.navbar ul li a::before {
   content: "";
   position: absolute;
   width: 0;
   height: 3px;
   top: 27px;
   left: 0;
   background-color: #641e16; /* Color of the underline */
   transition: width 0.3s ease; /* Smooth transition effect */
}
.navbar ul li a:hover::before {
   width: 100%; /* Expand the underline to 100% width on hover */
}
/* button responsive */

label {
   display: flex;
   flex-direction: column;
   width: 70px;
   cursor: pointer;
}
label span {
   background: #fff;
   border-radius: 10px;
   height: 7px;
   margin: 7px 0;
   transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
span:nth-of-type(1) {
   width: 50%;
}
span:nth-of-type(2) {
   width: 100%;
}
span:nth-of-type(3) {
   width: 75%;
}
input[type="checkbox"] {
   display: none;
}
input[type="checkbox"]:checked ~ span:nth-of-type(1) {
   transform-origin: bottom;
   transform: rotatez(45deg) translate(8px, 0px);
}
input[type="checkbox"]:checked ~ span:nth-of-type(2) {
   transform-origin: top;
   transform: rotatez(-45deg);
}
input[type="checkbox"]:checked ~ span:nth-of-type(3) {
   transform-origin: bottom;
   width: 50%;
   transform: translate(30px, -11px) rotatez(45deg);
}

/* styling of hero content */
#hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; /* Vertical centering */
   height: 60vh;
}
#hero h1 {
   color: #ecf0f1;
   font-size: 47px;
   font-family: "AR One Sans", sans-serif;
   line-height: 70px;
}
#hero .colored-text {
   color: #641e16;
   font-size: 40px;
}
#hero h3 {
   color: #ecf0f1;
   font-family: "AR One Sans", sans-serif;
   font-size: 30px;
   line-height: 10px;
   margin-top: 15px;
}
.button {
   margin-top: 30px;
   width: 160px;
   height: 40px;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 2px;
   font-family: "AR One Sans", sans-serif;
   background-color: #641e16;
   color: #fff;
   border: none;
   cursor: pointer;
   transition: 0.5s;
}
.button:hover {
   box-shadow: 3px 3px 10px #922b21;
}
.products {
   padding: 40px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.pro-text {
   color: #1b7676;
   font-size: 40px;
   text-align: center;
   font-family: "AR One Sans", sans-serif;
   padding: 60px;
}
.pro-card {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   padding: 25px 20px;
   text-align: center;
   /* box-shadow: 0 2px 4px #99A3A4;  */
   box-shadow: 5px 5px 12px #e5e7e9, -5px -5px 12px #e5e7e9;
   background-color: #fff;
   width: 250px;
   height: 290px;
   cursor: pointer;
   margin-left: 40px;
   margin-right: 40px;
   margin-bottom: 50px;
}
.pro {
   transform: scale(0.65);
}
.pro img {
   max-width: 100%;
}
.des {
   margin-top: 10px;
   font-size: 20px;
   font-family: "AR One Sans", sans-serif;
   color: #1b7676;
}
.des span {
   font-weight: bold;
   color: #7f8c8d;
}
.des2 {
   margin-top: 50px;
   font-size: 20px;
   font-family: "AR One Sans", sans-serif;
   color: #1b7676;
}
.des2 span {
   font-weight: bold;
   color: #7f8c8d;
}
/* product details */
#header1 {
   background-image: url(images/background\(2\).jpg);
}
#pro-detail {
   display: flex;
}
#pro-detail .single-pro-img {
   width: 24%;
   margin-top: 35px;
   margin-left: 100px;
   padding: 15px 20px 15px 20px;
   box-shadow: 3px 3px 10px #99a3a4;
}
.small-img-grp {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}
.small-img-col {
   width: 25%; /* Adjust the width as needed */
   padding: 5px;
   cursor: pointer;
   transition: 0.2s;
}
.small-img-col:hover {
   transform: scale(1.3);
}
/* details */
.prodetails {
   width: 50%;
   margin-top: 3rem;
   padding-left: 20px;
}
.prodetails h3 {
   color: #922b21;
   margin-top: 2rem;
}
.prodetails h2 {
   margin-top: 12px;
   color: #177473;
}
.prodetails .button1 {
   margin: 12px 0px;
   width: 120px;
   height: 30px;
   background-color: #922b21;
   font-weight: bold;
   color: #fff;
   border: none;
   cursor: pointer;
}
.prodetails h4 {
   font-size: 15px;
   width: 350px;
   max-width: 100%;
}
.About-pro {
   margin: 50px 100px;
}
.About-pro h1 {
   color: #177473;
}
.About-pro h6 {
   margin-top: 20px;
   width: 60rem;
   max-width: 100%;
   font-size: 13px;
   color: #515A5A  ;
}
table {
   width: 100%;
}
td,
th {
   padding: 8px;
   text-align: left;
}
tr:nth-child(even) {
   background-color: #f2f2f2; /* Alternate row background color for better readability */
}
tr:not(:last-child) {
   border-bottom: 1px solid #000; /* Add a border to the bottom of all rows except the last one */
}
/* quote */
.quote-section {
   /* background-color: #f5f5dc;  */
   background-color: #1b7676;
   text-align: center;
   padding: 40px 0;
}

/* Style for the quote container */
.quote-container {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
}

/* Style for the quote text */
.quote {
   font-size: 24px;
   font-style: italic;
   color: #fff;
}

/* Style for the author citation */
.author {
   margin-top: 10px;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   color: #fff;
}
/* about */
#about {
   padding: 5px 100px 5px 100px;
   text-align: center;
   display: flex;
   flex-direction: column; /* Set the flex direction to column */
   align-items: center; /* Center horizontally */
   justify-content: center; /* Center vertically */
   text-align: center;
   min-height: 100vh;
}
#about h2 {
   color: #1b7676;
   font-size: 40px;
   padding: 10px 10px 45px 0px;
}
#about p {
   width: 65%;
   padding-bottom: 20px;
   font-size: larger;
   color: #666;
   text-align: center;
}
.About-content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center; /* Center horizontally within .About-content */
   text-align: center;
}
/* card */
.card {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   padding: 25px 20px;
   text-align: center;
   box-shadow: 5px 5px 20px #e5e7e9, -5px -5px 20px #e5e7e9;
   background-color: #fff;
   width: 250px;
   height: 250px;
   margin-left: 40px;
   margin-right: 40px;
   margin-bottom: 50px;
}
.card h3 {
   padding: 10px 0px;
}
/* footer */
/* Style the main footer container */
footer {
   background-color: #1b7676;
   color: #fff;
   padding: 40px 0;
}

.footer-container {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

/* Style the logo in the footer */
.footer-logo img {
   max-width: 100px;
   height: auto;
   transform: scale(1.7);
}

/* Style the footer links section */
.footer-links {
   flex-basis: 25%;
}

.footer-links h3 {
   font-size: 20px;
   margin-bottom: 15px;
}

.footer-links ul {
   list-style: none;
   padding: 0;
}

.footer-links li {
   margin-bottom: 10px;
}
.footer-links li a {
   /* color: #fff; */
   color: #f5f5dc;
   font-size: 17px;
   font-weight: bold;
}
.footer-links li a:hover {
   font-size: 19px;
}
/* Style the contact section */
.footer-contact {
   flex-basis: 25%;
}

.footer-contact h3 {
   font-size: 20px;
   margin-bottom: 15px;
}

.footer-contact p {
   margin-bottom: 10px;
}
/* Style the bottom section of the footer */
.footer-bottom {
   background-color: #1b7676;
   text-align: center;
   padding: 10px 0;
}

.footer-bottom p {
   margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
   #hero {
      padding: 20px; /* Add some padding for better spacing */
      text-align: center;
   }
   #hero h1 {
      font-size: 52px;
      line-height: 70px;
   }
   #hero .colored-text {
      font-size: 47px;
   }
   .button {
      transform: scale(1.2);
   }
   #pro-detail .single-pro-img {
      width: 50%;
   }
   .prodetails {
      width: 50%;
   }
   .prodetails h3 {
      font-size: 20px;
   }
   .prodetails h2 {
      font-size: 25px;
   }
}
@media screen and (max-width: 768px) {
   #logo {
      padding: 0px 20px;
      width: 15px;
      height: 15px;
      transform: translateY(-5px);
   }
   .navbar ul {
      padding: 20px 0;
      flex-direction: column;
      align-items: center;
   }
   .navbar ul li {
      padding: 10px;
   }
   .navbar ul li a {
      font-size: 20px;
      display: none;
   }
   #hero h1 {
      font-size: 60px;
   }
   .button-res {
      display: block;
      transform: scale(0.5);
   }
   #hero {
      padding: 20px; /* Add some padding for better spacing */
      text-align: center; /* Center text horizontally */
   }

   #hero h1 {
      font-size: 40px; /* Decrease the font size */
      line-height: 45px; /* Adjust line height */
   }

   #hero .colored-text {
      font-size: 30px; /* Decrease the font size */
   }

   #hero h3 {
      font-size: 24px; /* Decrease the font size */
      margin-top: 10px; /* Adjust margin */
   }

   .button {
      margin-top: 20px; /* Adjust margin */
      width: 140px; /* Decrease button width */
      height: 36px; /* Decrease button height */
      font-size: 14px; /* Decrease font size */
   }
   .pro-card {
      width: 50%;
   }
   #pro-detail {
      flex-direction: column;
      align-items: center;
   }

   #pro-detail .single-pro-img {
      width: 50%; /* Make images full width on smaller screens */
      margin: 0; /* Remove margins for smaller screens */
   }

   .small-img-grp {
      justify-content: center; /* Center small images horizontally */
   }

   .small-img-col {
      width: 23.33%; /* Adjust width for smaller screens */
      margin: 5px; /* Add margin between small images */
   }
   .prodetails {
      width: 100%; /* Make the section full width on smaller screens */
      padding: 20px; /* Adjust padding for smaller screens */
      text-align: center; /* Center the content on smaller screens */
   }

   .prodetails h3 {
      font-size: 24px; /* Adjust font size for smaller screens */
   }

   .prodetails h2 {
      font-size: 20px; /* Adjust font size for smaller screens */
   }
   .prodetails h4 {
      font-size: 12px; /* Adjust font size for smaller screens */
      width: 100%; /* Make the element full width on smaller screens */
   }
   .About-pro {
      margin: 20px; /* Adjust margin for smaller screens */
   }

   .About-pro h1 {
      font-size: 24px; /* Adjust font size for smaller screens */
   }

   .About-pro p {
      width: 100%; /* Make the text content full width on smaller screens */
      font-size: 14px; /* Adjust font size for smaller screens */
   }
   #about {
      padding: 5px 20px; /* Adjust padding for smaller screens */
   }

   #about h2 {
      font-size: 30px; /* Adjust font size for smaller screens */
   }

   #about p {
      width: 90%; /* Adjust width for smaller screens */
      font-size: 16px; /* Adjust font size for smaller screens */
   }
   .footer-container {
      flex-direction: column;
      align-items: center;
   }

   .footer-links,
   .footer-contact {
      flex-basis: 50%;
      text-align: center;
      margin-bottom: 20px;
   }
}
@media screen and (max-width: 480px) {
   #header {
      padding: 0px 20px;
      height: 90vh;
   }
   #hero h1 {
      line-height: 40px;
   }
   #hero .colored-text {
      font-size: 27px;
   }
   #hero h3 {
      font-size: 15px;
      line-height: 5px;
   }
   .button {
      transform: scale(1);
   }
   #logo {
      padding: 0px 20px;
   }
   .button-res {
      display: block;
      transform: scale(0.3);
      z-index: 2;
   }
   .navbar ul li a {
      display: none;
   }
   .pro-card {
      width: 100%;
   }
   .des {
      font-size: 21px;
   }
   .pro-text {
      font-size: 35px;
      padding: 50px 20px;
   }

   #pro-detail .single-pro-img {
      width: 90%; /* Make images full width on smaller screens */
      margin: 0; /* Remove margins for smaller screens */
   }
   .small-img-col {
      width: 25.33%; /* Adjust width for smaller screens */
      margin: 2px; /* Add margin between small images */
   }
   .footer-logo img {
      transform: scale(1.2);
   }
}
@media screen and (max-width: 330px) {
   #header {
      padding: 0px 0px;
      height: 90vh;
   }
   #logo {
      padding: 0px 20px;
      width: 15px;
      height: 0px;
      transform: translateY(-10px) scale(0.9);
   }
   #hero h1 {
      line-height: 30px;
      font-size: 27px;
   }
   #hero .colored-text {
      font-size: 21px;
   }
}
